:root {
    --c-dark: #212529;
    --c-brand: #20ace2;
    --c-brand-light: #2bb9f2;
    --c-brand-dark: #196b8c;
    --c-white-rgb: 255, 255, 255;
    --c-brand-rgb: 32, 172, 226;
    --c-brand-light-rgb: 43, 185, 242;
    --c-brand-dark-rgb: 25, 107, 140;
    --c-body: #727272;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.7;
    color: var(--c-body);
    box-sizing: border-box;
}

/* float button */
a.fb-message-blue {
    text-decoration: none;
    color: #fff;
    background-color: #0084ff;
    border: 1px solid #0084ff;
    width: 3rem;
    height: 3rem;
    line-height: 100%;
    position: fixed;
    border-radius: 500px;
    -webkit-transition: all ease .15s;
    -o-transition: all ease .15s;
    -moz-transition: all ease .15s;
    transition: all ease .15s;
    text-align: center;
    align-content: center;
    font-size: 200%;
}
a.fb-message-blue:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    transform: scale(1.15);
}
a.fb-message-blue:focus {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
}
/* .. */


h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}


/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 1), rgba(var(--c-brand-dark-rgb), 0.5), rgba(var(--c-white-rgb), 1)), url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* COUNTER */
#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    color: rgba(255, 255, 255, 0.7);
}

#footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
#footer-top .footer-info {
    flex: 1 1 15%; 
    max-width: 13%;
    text-align: left;
}
#footer-top .footer-img {
    max-width: 20%;
    margin-right: 5%;
}

.footer-bottom {
    padding: 20px 0;
}

.footer-logo {
    width: 100%;
    max-width: 200px;
}

footer h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 0.5rem 0;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: var(--c-brand);
}

.footer-bottom .col-auto {
    font-size: 0.9rem;
}
.footer-bot{
    margin: -50px -30px 0px -30px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

.responsive-col {
    flex-basis: 15%;
    max-width: 15%; 
}

@media (max-width: 768px) {
    #footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0px;
    }
    .responsive-col {
        flex-basis: 100%; 
        max-width: 100%;
    }
    .social-icons a {
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 30%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        font-size: 200%;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.3s;
    }
    .col-lg-3{  
        width: 28%;
    }
    #footer-top {
        justify-content: left; /* Căn giữa các cột khi ở mobile */
    }
    #footer-top .footer-img {
        max-width: 100%;
        width: 100%;
        margin-top: 20%;
        margin-right: 0;
    }
    #footer-top .footer-info {
        padding: 0 0 0 0;
        flex: 1 1 22%; 
        max-width: 30%;
        padding-left: 8px;
        margin-bottom: 20px;
        text-wrap: nowrap;
    }
    .footer-bot{
        margin: 0px -10px 0px -18px;
    }
}